*target*
*.jar
*.war
*.ear
*.class
*.recommenders
*.zip
*.pdf
*.gitignore
*.idea
*.iml
FormatterTemplate.xml
Test/

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch